
@font-face {
    font-family: "Gotham Bold";
    src: url("../../ressource/font/Gotham_Bold.otf") format("truetype");
}

#background-video {
    position: fixed;
    left: 0%; 
    right: 0%; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.group {
    display: flex;
    position: absolute;
    width: 450px;
    height: 50px;
    background-color: rgba(255, 50, 0, 0.1);
    border: 1px solid rgba(250, 61, 3, 0.2);
    border-radius: 5px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    transition: 1.25s cubic-bezier(.69,-0.26,.34,1.26);
    opacity: 0;
}
.icon {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
}
.name {
    font-family: "Gotham Bold", serif;
    color: whitesmoke;
    font-size: 20px;
    margin-left: 10px;
}
.points {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 238, 0, 0.8);
    border: 3px solid rgb(229, 255, 0);
    margin-top: -2.5px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: -2.5px;
    transition: 1s;
}
.groupPoints {
    font-family: "Gotham Bold", serif;
    color: whitesmoke;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.nextButton {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 0%; 
    right: 0%; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 7%;
}

.pointsToAdd {
    display: flex;
    position: absolute;
    top: 5px;
    right: 70px;
    left: auto;
    opacity: 0;
    transition: 0.5s;
    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}
.pointsToAddText {
    font-family: "Gotham Bold", serif;
    color: whitesmoke;
    font-size: 20px;
    margin: auto;
    text-align: center;
}
